body {
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
  padding: 40px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

form {
  background: white;
  padding: 30px;
  max-width: 500px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

div {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="url"] {
  padding: 8px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

textarea{
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

label.required::after{
  content: " *";
  color: red;
  vertical-align: middle;
  font-weight: bold;
}

#firstNameKanji,#lastNameKanji,#firstNameKana,#lastNameKana {
  width: 20%;
}

.name{
  display: inline;
  margin-left: 10px;
}



