<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>論文フォーマット作成</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <form method="post" >
  
    <!-- タイトル入力 -->
    <div>
      <label for="soturontittle">卒論タイトル:</label>
      <input type="text" id="soturontittle" name="soturontittle" autocomplete="soturontittle">
    </div>

    <!-- 氏名入力 -->
    <div>
      <label for="name">氏名：</label>
      <input type="text" id="name" name="name" autocomplete="name" required>
    </div>

    <!-- 学籍番号入力 -->
    <div>
      <label for="studentNumber">学籍番号：</label>
      <input type="text" id="studentNumber" name="studentNumber" autocomplete="studentNumber" required>
    </div>

    <!-- 担当教員名入力 -->
    <div>
      <label for="teacherName">担当教員名：</label>
      <input type="text" id="teacherName" name="teacherName" autocomplete="teacherName" required>
    </div>

    <!-- GitHub URL-->
    <div>
      <label for="GitHubURL">GitHub URL</label>
      <input type="text" id="GitHubURL" name="GitHubURL" autocomplete="GitHubURL">
    </div>

    <!-- 送信ボタン -->
    <div>
      <button id="button" type="submit">送信</button>
    </div>
  </form>

  <!-- スクリプト -->
  <script src="{{ url_for('static', filename='scripts/main.js') }}"></script>
</body>
</html>